.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  width: 100%;
}

.item span {
  font-size: 25px;
  overflow-wrap: anywhere;
}

span.done {
  text-decoration: line-through;
  text-decoration-color: rgb(138, 113, 80);
}
