.btn {
  margin: 5px;
  border-radius: 10px;
  cursor: pointer;
  border: 2px solid brown;
}

.btn:disabled {
  background-color: gray;
  opacity: 0.5;
  cursor: not-allowed;
}

.delete {
  min-width: 80px;
  height: 30px;
  background-color: #dc5a5a;
}

.add {
  background-color: lightgreen;
  height: 50px;
  width: 150px;
  border: 3px dashed green;
  margin: 2px;
}

.edit {
  min-width: 80px;
  height: 30px;
  background-color: yellow;
  border-color: rgb(253, 198, 94);
  color: brown;
}

.btn.add:hover {
  box-shadow: 0 5px 10px rgb(13 77 32 / 72%);
}

.btn.add:active {
  color: rgb(58, 255, 58);
  background-color: green;
  border: 2px solid rgb(58, 255, 58);
}

.btn.delete:hover {
  box-shadow: 0 5px 10px rgb(141 44 44 / 72%);
}

.btn.delete:active {
  color: red;
  background-color: rgb(122, 30, 30);
  border: 2px solid red;
}

.btn.edit:hover {
  box-shadow: 0 5px 10px rgba(158, 147, 43, 0.72);
}

.btn.edit:active {
  color: yellow;
  background-color: orange;
  border: 2px solid yellow;
}
