.list {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 1000px;
  width: 100%;
  min-height: 80vh;
  max-height: 1000px;
  margin: 10px auto;
  overflow: auto;
  background-color: #fff7ed;
  border-radius: 20px;
  padding: 50px;
  color: #3d2f2a;
  font-family: cursive;
  font-weight: lighter;
  line-height: 1.5;
}

.empty {
  background-color: honeydew;
}

.listRow {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.select {
  display: flex;
  max-width: 70px;
  min-height: 32px;
  padding: 5px;
  margin-top: 5px;
  margin-right: 5px;
  background-color: white;
  border-radius: 5px;
  cursor: pointer;
}

.select:hover {
  background-color: antiquewhite;
  border: 1px solid black;
}

.modalOverlay {
  position: fixed;
  inset: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  background: rgb(0 0 0 / 50%);
}

.modal {
  background-color: rgb(255, 247, 237);
  width: min(800px, 90%);
  padding: 30px;
  border-radius: 10px;
}
